{% extends 'zdrowie/base.html' %}
{% block content %}
{% load static %}

<h1>Czym jest choroba?</h1>
<p>Choroba powoduje zmiany w każdej sferze naszego życia: psychicznej (np. sprawność mentalna, procesy poznawcze, emocje, poczucie dobrostanu), biologicznej, społecznej, duchowej (np. zagubienie sensu życia, nadziei i wiary). Im bardziej utrudnia nasze codzienne funkcjonowanie tym bardziej jest uciążliwa psychicznie.</p>
<p>Zdefiniowanie choroby podobnie jak zdrowia nie jest zadaniem prostym. Możemy podać tu kilka różnych propozycji. Choroba może być traktowana na przykład jako:</p>
    <ul>
    <li>odwrotność zdrowia,</li>
    <li>stan zaburzenia czynności organizmu przez czynniki chorobotwórcze,</li>
    <li>nieprawidłowe funkcjonowanie organizmu lub jego części,</li>
    <li>nieproporcjonalne do wieku uszkodzenia struktury i funkcji narządu lub zespołu narządów ciała.</li>
</ul>

<p>Czasami choroba przynosi nam pomyślne konsekwencje np. zainteresowanie otoczenia lub zwolnienie z obowiązków. W takiej sytuacji mówimy o <b>wtórnych zyskach z choroby</b>.
    Natomiast suma wszystkich następstw choroby tych pomyślnych i niepomyślnych, to <b>bilans choroby</b>.</p>

<h5>Wieloczynnikowe uwarunkowania chorób</h5>
<p>Nie łatwo jest znaleźć nam jeden czynnik, który wywołał chorobę. By łatwiej było nam zidentyfikować przyczyny zachorowania możemy podzielić je na kilka kategorii:</p>
<ul>
    <li><b>czynniki genetyczne</b> - biologicznie predysponują dany narząd, by uległ on uszkodzeniu wskutek pobudzenia psychofizjologicznego - biologiczne czynniki ryzyka </li>
    <li><b>czynniki środowiskowe</b> - bodźce fizyczne związane ze środowiskiem choroby, urazy fizyczne, styl życia - system zachowań zdrowotnych - środowiskowe czynniki ryzyka</li>
    <li><b>czynniki psychologiczne</b> - właściwości osobowościowe i indywidualne - psychologiczne czynniki ryzyka</li>
</ul>

<p>Pani Profesor Heszen opracowała polietiologiczny model chorób i dysfunkcji somatycznych, który może ułatwić nam zrozumienie jak wiele czynników wpływa na stan choroby. Prezentuję go na zdjęciu poniżej:</p>
<img src="{% static 'zdrowie/images/choroba.png' %}" class="img-fluid" alt="Responsive image">
<br>
<br>

<h5>Rola chorego</h5>
<p>Talcott Parsons (1951) przedstawił koncepcję roli chorego, którą określają 4 charakterystyki:
    <ul>
    <li>chory ma prawo do wycofania się z pełnienia dotychczasowych ról społecznych,</li>
    <li>nie można od niego oczekiwać, że sam upora się ze swoją chorobą,</li>
    <li>jest zobligowany do poszukiwania kompetentnej pomocy specjalisty i poddania się jej,</li>
    <li>bycie chorym powinien uznać za stan nietrwały i niepożądany oraz dążyć do jak najszybszego odzyskania sił.</li>
</ul>
</p>

<h5>Statystyki chorób w Polsce</h5>
<p>Podstawowymi przyczynami zgonów są <b>choroby układu krążenia</b> i <b>choroby nowotworowe</b> – obie grupy powodują ok. 70 proc. wszystkich zgonów.</p>

<h5>Przekonania pomagające zwalczyć chorobę</h5>
<ul>
    <li>Przekonanie, że należy stosować się do zaleceń lekarskich.</li>
    <li>Przekonanie, że z chorobą należy walczyć.</li>
    <li>Przekonanie o zdrowotnej roli nadziei i optymistycznych informacji.</li>
    <li>Przekonanie o własnej skuteczności.</li>
</ul>

<hr>

<h6>Przypisy</h6>
<ol>
    <li>Heszen, I. (2005). Kliniczna psychologia zdrowia. W: H. Sęk (red.) Psychologia kliniczna (t. 2, s. 222-243). warszawa: Wydawnictwo Naukowe PWN.</li>
    <li>Parsons, T. (1951). Illness and the role of the physician: a sociological perspective. American Journal of orthopsychiatry, 21(3), 452.</li>
</ol>

{% endblock %}