{% extends 'zdrowie/base.html' %}
{% block content %}

<h1>Historia myślenia o zdrowiu</h1>

<h3>Czasy antyczne</h3>
<p>Ciało i umysł uważano za jedność. Choroby były traktowane jako przejaw złowieszczej mocy. Człowiek chory był uznawany za opętanego przez demony lub złe duchy. Pomóc choremu miało odpędzenie przez modlitwy, zaklęcia czy egzorcyzmy.</p>

<h5>Starożytna Grecja</h5>
<p>Pierwszą rewolucją w temacie zdrowia był moment, gdy po naturalistyczną interpretację choroby sięgnęli starożytni Grecy. Według teorii Hipokratesa choroba miała być wynikiem zachwiania równowagi "humorów" krążących w ciele człowieka. Terapia polegała zatem na przywróceniu owej równowagi. Mniej więcej w tym samym czasie naturalistyczna koncepcja zdrowia, czyli wykluczająca udział demonów w powstawaniu choroby, rozwijała się w Chinach. Kluczem do zrozumienia zdrowia była idea równowagi sił. Człowiek choruje, gdy nastąpi zachwianie równowagi emocjonalnej bądź dietetycznej.</p>

<h3>Średniowiecze</h3>
<p>W okresie średniowiecza na Zachodzie nastąpił kryzys idei naturalistycznych i powrót do koncepcji kładących nacisk na duchowy charakter choroby. Chorobę zaczęto uznawać za rezultat naruszenia praw boskich, a praktyki medyczne pozostawały pod kontrolą Kościoła. Warunkiem wyzdrowienia było wyzbycie się grzesznych nawyków. Funkcja lekarza miała raczej charakter marginalny, praktyki medyczne wykonywali księża katoliccy.</p>

<h3>Renesans</h3>
<p>Epoka renesansu to powrót do teorii naturalnych przyczyn rozwoju chorób. Powrócono do studiowania matematyki, chemii czy fizyki, co dało podwaliny pod rozwój medycyny. Istotną przyczyną rozwoju nauk medycznych była idea dualizmu ciała i umysłu. Najbardziej znanym jej orędownikiem był Kartezjusz, który wyodrębnił dwie sfery: fizyczną, do której zaliczał ciało człowieka oraz duchową, której centralną częścią jest umysł. W myśl tej teorii ludzkie ciało miało stanowić maszynę. Choroba była jednoznaczna z awarią układu mechanicznego, zadaniem lekarza zaś miało być zlokalizowanie i usunięcie awarii na wzór naprawy urządzenia mechanicznego. Na chorobę patrzono jedynie przez pryzmat biochemii. Pominięto całkowicie wpływ czynników psychologicznych oraz społecznych.</p>

<h3>XIX wiek</h3>
<p>Osiągnięto znaczną redukcję zagrożeń zdrowotnych. Udało się to dzięki znacznemu rozwojowi mikrobiologii, immunologii, patologii czy chirurgii. XIX wiek to również czas narodzin immunologii, szczepionek, odkrycia penicyliny i innych antybiotyków. Pokonano ból, co umożliwiło spektakularny postęp w technikach chirurgicznych. Rozwój medycyny pozwolił na leczenie chorób, które dotychczas były uważane za nieuleczalne.</p>

<h3>Współcześnie</h3>
<p>Współcześnie możemy zaobserwować postępująca medykalizację. Jest to tendencja charakteryzująca się definiowaniem naturalnych i fizjologicznych procesów w kategoriach problemów medycznych oraz przypisywania im znamion choroby i zaburzeń, które wymagają interwencji albo leczenia. Możemy również mówić o farmaceutykalizacji, czyli rosnącej roli leków, które stały się instrumentem podnoszenia sprawności, a nie terapii medycznej. Proces starzenia jest coraz bardziej traktowany jako uciążliwa choroba niż naturalny proces. Dlatego też medycyna mocno skupia się na jego zatrzymaniu lub wręcz odwróceniu.</p>

{% endblock %}