{% extends 'zdrowie/base.html' %}
{% block content %}
<!--<h1>Wprowadzenie</h1>-->
<!--<p>Swoją pracę magisterską poświęcam tematyce zdrowia. Moim nadrzędnym celem jest zaprezentowanie Ci uniwersalnych sposobów jak możesz dbać o swoje zdrowie każdego dnia. By to osiągnąć chcisałbym opowiedzieć Ci o:</p>-->
<!--<ul>-->
<!--    <li>czym jest zdrowie</li>-->
<!--    <li>dwóch modelach ujęcia zdrowia</li>-->
<!--    <li>dwóch paradygmatach w kontekście, których możemy rozpatrywać nasze zdrowie</li>-->
<!--    <li>psychologicznych aspektach opieki zdrowotnej</li>-->
<!--    <li>jak stres wpływa na Twoje zdrowie</li>-->
<!--    <li>sposobach odżywiania, które mogą uratować Twój organizm</li>-->
<!--    <li>zalecanych codziennych aktywnościach fizycznych</li>-->
<!--    <li>szkodliwości używek</li>-->
<!--    <li>jak skutecznie wprowadzić zmiany zdrowotne do swojego życia</li>-->
<!--    <li></li>-->
<!--</ul>-->

<!--<h1 class="text-center"><i>Na zdrowie</i> językami świata</h1>-->
<!--<div class="vtl">-->

<!--  <div class="event">-->
<!--    <p class="date">Rosyjski</p>-->
<!--    <p class="txt">Bud'te zdorovy</p>-->
<!--  </div>-->
<!--  <div class="event">-->
<!--    <p class="date">Niemiecki</p>-->
<!--    <p class="txt">Prosit</p>-->
<!--  </div>-->
<!--  <div class="event">-->
<!--    <p class="date">Francuski</p>-->
<!--    <p class="txt">À vos souhaits!</p>-->
<!--  </div>-->
<!--  <div class="event">-->
<!--    <p class="date">Turecki</p>-->
<!--    <p class="txt">Seni korusun!</p>-->
<!--  </div>-->
<!--  <div class="event">-->
<!--    <p class="date">Włoski</p>-->
<!--    <p class="txt">Salute</p>-->
<!--  </div>-->
<!--    <div class="event">-->
<!--    <p class="date">Portugalski - 221 milionów użytkowników</p>-->
<!--    <p class="txt">Saúde</p>-->
<!--  </div>-->
<!--    <div class="event">-->
<!--    <p class="date">Angielski</p>-->
<!--    <p class="txt">Bless you!</p>-->
<!--  </div>-->
<!--    <div class="event">-->
<!--    <p class="date">Hiszpański</p>-->
<!--    <p class="txt">Salud</p>-->
<!--  </div>-->
<!--    <div class="event">-->
<!--    <p class="date">Ukraiński</p>-->
<!--    <p class="txt">Budʹ zdorovyy!</p>-->
<!--  </div>-->
<!--  <div class="event">-->
<!--    <p class="date">Niderlandzki</p>-->
<!--    <p class="txt">Zegen u!</p>-->
<!--  </div>-->
<!--  <div class="event">-->
<!--    <p class="date">Czeski</p>-->
<!--    <p class="txt">Požehnej vám!</p>-->
<!--  </div>-->
<!--  <div class="event">-->
<!--    <p class="date">Słowacki</p>-->
<!--    <p class="txt">Na zdravie!</p>-->
<!--  </div>-->

<!--</div>-->

<!--<div class="border border-dark rounded shadow p-3 mb-5 bg-white rounded" id="wiersz">-->
<!--<h1 class="text-center text-dark">Na zdrowie</h1>-->
<!--  <p class="text-center text-muted">Jan Kochanowski<br>-->
<!--Fraszki, Księgi trzecie</p>-->
<!--<p class="text-center">Ślachetne zdrowie,<br>-->
<!--Nikt się nie dowie,<br>-->
<!--Jako smakujesz,<br>-->
<!--Aż się zepsujesz.<br>-->
<!--Tam człowiek prawie<br>-->
<!--Widzi na jawie<br>-->
<!--I sam to powie,<br>-->
<!--Że nic nad zdrowie<br>-->
<!--Ani lepszego,<br>-->
<!--Ani droższego;<br>-->
<!--Bo dobre mienie,<br>-->
<!--Perły, kamienie,<br>-->
<!--Także wiek młody<br>-->
<!--I dar urody,<br>-->
<!--Mieśca wysokie,<br>-->
<!--Władze szerokie Dobre są, ale —<br>-->
<!--Gdy zdrowie w cale.<br>-->
<!--Gdzie nie masz siły,<br>-->
<!--I świat niemiły.<br>-->
<!--Klinocie drogi,<br>-->
<!--Mój dom ubogi<br>-->
<!--Oddany tobie<br>-->
<!--Ulubuj sobie! </p>-->
<!--  </div>-->

<div class="letter text-center">
    <h3>Jan Kochanowski<br></h3>
<h6>Fraszki, Księgi trzecie<br>
Na zdrowie</h6>
  <p>
      Ślachetne zdrowie,<br>
Nikt się nie dowie,<br>
Jako smakujesz,<br>
Aż się zepsujesz.<br>
Tam człowiek prawie<br>
Widzi na jawie<br>
I sam to powie,<br>
Że nic nad zdrowie<br>
Ani lepszego,<br>
Ani droższego;<br>
Bo dobre mienie,<br>
Perły, kamienie,<br>
Także wiek młody<br>
I dar urody,<br>
Mieśca wysokie,<br>
Władze szerokie Dobre są, ale —<br>
Gdy zdrowie w cale.<br>
Gdzie nie masz siły,<br>
I świat niemiły.<br>
Klinocie drogi,<br>
Mój dom ubogi<br>
Oddany tobie<br>
      Ulubuj sobie! </p>


</div>
<br>
<br>

{% endblock %}