{% extends 'zdrowie/base.html' %}
{% block content %}

<h1>Poczucie koherencji</h1>
<p>Poczucie koherencji to pojęcie stworzone przez <b>Aarona Antonovsky'ego</b>, amerykańskiego naukowca żydowskiego pochodzenia, który przez całe życie zajmował się tematem stresu, zdrowia i dobrostanu. Efektem jego działalności naukowej było stworzenie modelu salutogenetycznego oraz poczucia koherencji.</p>

<h3>Formalna definicja</h3>
<p>Poczucie koherencji jest to globalna orientacja człowieka, wyrażająca stopień, w jakim człowiek ten ma dojmujące, trwałe, choć dynamiczne poczucie pewności, że</p>
<ol>
    <li>bodźce napływające w ciągu życia ze środowiska wewnętrznego i zewnętrznego mają charakter ustrukturowany, przewidywalny i wytłumaczalny;</li>
    <li>dostępne zasoby, które pozwolą mu sprostać wymaganiom stawianym przez te bodźce;</li>
    <li>wymagania te są dla niego wyzwaniem wartym wysiłku i zaangażowania (Antonovsky, 1987).</li>
</ol>

<h3>Składniki</h3>
Poczucie koherencji składa się z trzech składników:
<ul>
    <li>poczucia zrozumiałości,</li>
    <li>poczucia zaradności,</li>
    <li>poczucia sensowności.</li>
</ul>

<h6>Poczucie zrozumiałości (comprehensibility)</h6>
<p>Odnosi się ono do stopnia, w jakim człowiek spostrzega bodźce, z którymi się styka, napływające ze środowiska wewnętrznego i zewnętrznego jako sensowne poznawczo, jako informacje uporządkowane, spójne, ustrukturowane i jasne, a nie jako szum - czyli informacje chaotyczne, nieuporządkowane, losowe, przypadkowe, niewytłumaczalne. Człowiek o silnym poczuciu zrozumiałości spodziewa się, że bodźce, z którymi się zetknie w przyszłości będą przewidywalne.</p>

<h6>Poczucie zaradności(manageability)</h6>
<p>Jest to stopień, w jakim człowiek spostrzega dostępne zasoby jako wystarczające, by sprostać wymogom, jakie stawiają bombardujące go bodźce.</p>

<h6>Poczucie sensowności (meaningfulness)</h6>
<p>Uważany jest za najważniejszy składnik poczucia koherencji. Wyraża stronę motywacyjną człowieka. Składnik ten decyduje, czy zadania w różnych dziedzinach życia są postrzegane jako wyzwania, w które warto angażować się emocjonalnie. Decyduje również w jakim stopniu człowiek czuje, że życie ma sens z punktu widzenia emocjonalnego, że przynajmniej część problemów i wymagań jakie niesie życie, warta jest wysiłku, poświęcenia i zaangażowania. Kiedy jednak zdarzy się nieszczęście, osoba taka podejmuje wyzwanie, próbuje bronić się, poszukując jakiegoś sensu, i robi wszystko co w jej mocy, by godnie się z tym uporać.</p>






{% endblock %}