{% extends 'zdrowie/base.html' %}
{% load static %}
{% block content %}

<h1> Modele zdrowia</h1>

<h3>Model biomedyczny</h3>
<p>Model biomedyczny zdrowia swoimi początkami sięga XIX wieku, jednakże największą popularnością cieszył się dopiero na przestrzeni następnego wieku. Biomedycyna kładzie głównie nacisk na naturalne przyczyny chorób oraz na separację ciała i psychiki. U jej podstaw leży doktryna dualizmu ciała i umysłu, która utrzymuje, że ciało i umysł są dwiema niezależnymi jednostkami o niewielkim wzajemnym wpływie. </p>

<h6>Niezawodna maszyna</h6>
<p>Dużą popularnością wśród zwolenników modelu biomedycznego cieszy się porównanie ciała człowieka do maszyny. Maszyny, która może, ale nie musi działać sprawnie. Choroba jest dysfunkcją biologiczną jednoznaczną z awarią układu mechanicznego. W przypadku awarii jedyne co należy zrobić, to wymienić którąś z części. Dlatego też zdrowie postrzegane jest jako brak choroby. Lekarz nie zajmuje się zdrowiem.</p>

<h6>Pasywny odbiorca leczenia</h6>
<p>Centralną rolę w tym modelu przejmuje lekarz, który arbitralnie podejmuje decyzje dotyczące leczenia. Biomedycyna bazuje na redukcjonizmie, jest to doktryna mówiąca, że zjawiska w sferze chorób i zdrowia są najpełniej poznawalne na poziomie fizyki i chemii. Dlatego w trakcie procesu leczenia całą uwagę poświęca się fizycznym aspektom choroby, pacjent zaś stanowi element drugorzędny. Od pacjenta nie oczekuje się aktywności prozdrowotnej. O tym czy pacjent jest zdrowy czy chory decydują normy bazujące na całej populacji. </p>

<h6>Dehumanizacja</h6>
<p>Przez to, że w modelu biomedycznym skupiamy się na chorobie i jej wyleczeniu możemy dostrzec dehumanizację nauk medycznych, uprzedmiotowienie oraz depersonalizację klientów opieki zdrowotnej. Lekarz oraz opieka medyczna nie przykłada uwagi do czynników społecznych oraz psychologicznych. Pacjent jest tylko dodatkiem do chorego organu, który należy wyleczyć.</p>

<h6>Medykalizacja</h6>
<p>W modelu biomedycznym występuje tendencja do definiowania naturalnych i fizjologicznych procesów w kategoriach problemów medycznych oraz przypisywania im znamion choroby i zaburzeń, czego dalszą konsekwencją jest włączanie postępowania terapeutycznego. Ponadto akcentuje się rolę leków i biotechnologii. Dużą uwagę przykłada się również do rozwoju technologicznego.</p>

<h6>Niezwykły rozwój</h6>
<p>Model biomedyczny znacznie przyczynił się do rozwoju nauk medycznych. Dzięki niemu nastąpił spektakularny postęp w technikach chirurgicznych. Narodziła się immunologia, odkryto penicylinę i inne antybiotyki, szczepionki oraz opanowano choroby zakaźne.</p>

<h6>Krytyka</h6>
<p>Nie daje jednak żadnej praktycznej recepty na choroby chroniczne (choroby serca, nowotwory lub chroniczne schorzenia układu oddechowego). Pomija się w nim całkowicie wpływ czynników psychologicznych oraz społecznych. Model biomedyczny nie uwzględnia również relacji lekarz-pacjent w procesie leczenia ani nie definiuje mechanizmu rekonwalescencji. To wszystko sprawia, że ten model spotyka się z coraz głośniejszą krytyką oraz malejącą popularnością w XXI wieku.</p>

<h6>Podstawowe założenia modelu biomedycznego</h6>
<ul>
    <li>dualizm ciała i umysłu,</li>
    <li>redukcjonizm,</li>
    <li>zdrowie jest brakiem choroby,</li>
    <li>można być albo zdrowym lub chorym,</li>
    <li>nie oczekuje się aktywności prozdrowotnej,</li>
    <li>dehumanizacja nauk medycznych,</li>
    <li>uprzedmiotowienie i depersonalizacja klientów opieki zdrowotnej,</li>
    <li>badanie za pomocą norm.</li>
</ul>

<h3>Model biopsychospołeczny</h3>
<p>Model biopsychospołeczny, to systemowe podejście do choroby kładące nacisk na wzajemne związki między ciałem, a umysłem. Szczególną uwagę kładzie na rozpatrywanie choroby na wszystkich możliwych poziomach (od cząstki składowej atomu, przez system nerwowy, daną osobę, rodzinę, społeczeństwo, aż po biosferę). Swoimi korzeniami się do teorii systemowych.</p>

<div class="d-flex justify-content-center">
<img src="{% static 'zdrowie/images/systemowy.jpg' %}" class="img-fluid" alt="Responsive image">
</div>
<p>źródło: Bishop, G.D. (2000)</p>

<h6>Teoria systemów</h6>
<p>W modelu biopsychospołecznym kluczowym stwierdzeniem jest, że zmiana lub zakłócenia na jednym z poziomów oddziałują również na inne poziomy. Każdy system wyższego rzędu obejmuje wszystkie systemy niższego rzędu. Każdy system stanowi jednocześnie całość i część.</p>

<h6>Holizm</h6>
<p>Sam model został zaproponowany przez George’a L. Engela w 1977 roku. Uwzględnia on nie tylko czynniki biologiczne, ale także psychologiczne i społeczne. Dzięki czemu może być traktowany jako komplementarny do modelu biomedycznego bądź jako jego rozszerzenie.
Model biopsychospołeczny bazuje na stanowisku holistycznym, w którym ciało i psychika stanowią całość. Istotne jest uwzględnienie kontekstu społecznego, w którym żyje pacjent. Zdrowie i choroba są traktowane jako system interakcji, gdzie czynniki biologiczne (genetyczne, fizjologiczne) wchodzą we wzajemne oddziaływania z czynnikami psychologicznymi (osobowość, poznanie) i społecznymi (społeczeństwo, rodzina, media). W przypadku choroby chory jest cały organizm, a nie tylko wybrany organ.</p>

<h6>Demedykalizacja</h6>
<p>W przeciwieństwie do modelu biomedycznego w biopsychospołecznym następuje przeniesienie odpowiedzialności za stan zdrowia na jednostkę. To pacjent jest odpowiedzialny za własne zdrowie i dbanie o nie. Musi się wykazywać aktywnością oraz dbałością.</p>

<h6>Homeostaza</h6>
<p>Ideę modelu biopsychospołecznego dobrze oddaje pojęcie homeostazy opisane przez Waltera Cannona, polegające na tym, że organizmy dążą do utrzymywania równowagi i stabilności funkcji wewnętrznych. W obliczu odejścia od normy podejmowane są działania korekcyjne (np. dreszcze lub wydzielanie potu w celu korekcji temperatury i powrotu do prawidłowego 36,6°C. Organizm podejmuje działania korekcyjne aby powrócić do naturalnej równowagi.</p>

<h3>Model holistyczno-funkcjonalny</h3>
<p>Człowiek jest częścią większej całości i pozostaje pod wpływem wzajemnych relacji ze środowiskiem. Zdrowie jest więc rozumiane głównie jako proces adaptacji zmierzający do zachowania dynamicznej równowagi między systemami. Jest to proces stałego dynamicznego równoważenia potrzeb jednostki i wymagań otoczenia. Człowiek tworzy swoje własne zdrowie i to człowiek choruje. Nie istnieje coś takiego jak bezosobowa choroba.</p>

<h3>Model socjoekologiczny</h3>
<p>Powstał w latach 70. XX wieku. Jego głównym założeniem jest twierdzenie o hierarchii systemów, w myśl którego każdy podsystem to część systemu ogólniejszego i pozostaje z nim we wzajemnych związkach. Według Marca Lalonda zdrowie jest związane z kategorią 4 różnych pól:</p>
<ul>
    <li>zachowania,</li>
    <li>środowiska,</li>
    <li>służby zdrowia,</li>
    <li>czynników genetycznych.</li>
</ul>
<p>Człowiek jest ujmowany również jako całościowy system funkcjonujący biologicznie, umysłowo i duchowo każda osoba ma własne pojęcie zdrowia. Występuje dynamiczna równowaga systemów.</p>

<h6>Mandala zdrowia - model ekosystemu człowieka</h6>
<div class="d-flex justify-content-center">

<img src="{% static 'zdrowie/images/mandala.jpg' %}" class="img-fluid" alt="Responsive image" width="500px">
</div>
<p>źródło: Heszen-Celińska, I., & Sęk, H. (2020)</p>

<h3>Model dobrostanu psychicznego</h3>
<p>Maria Jahoda (1958) stworzyła zespoły kryteriów zdrowia:</p>
<ul>
    <li>pozytywna postawa wobec “Ja”,</li>
    <li>zdolność do rozwoju i samoregulacji,</li>
    <li>integracja,</li>
    <li>autonomia,</li>
    <li>realistyczne postrzeganie rzeczywistości,</li>
    <li>radzenie sobie z wymaganiami otoczenia.</li>
</ul>

<p>Natomiast Ryff (1989) wyodrębniła sześć komponentów dobrostanu (well-being):</p>
<ul>
    <li>samoakceptacja,</li>
    <li>pozytywne radzenie sobie z otoczeniem,</li>
    <li>autonomia,</li>
    <li>radzenie sobie z otoczeniem,</li>
    <li>cel życiowy,</li>
    <li>osobisty rozwój.</li>
</ul>

<p>Stabilny i dość wysoki dobrostan wiąże się z lepszym samopoczuciem somatycznym i rzadszym występowaniem symptomów schorzeń przewlekłych. Kompletne zdrowie psychiczne składa się z trzech aspektów: emocjonalnego (hedonistycznego), psychologicznego oraz społecznego (eudajmonistycznego).</p>

<hr>
<h6>Przypisy</h6>
<ol>
    <li>Bishop, G. D. (2000). Psychologia zdrowia. Astrum.</li>
    <li>Heszen-Celińska, I., & Sęk, H. (2020). Psychologia zdrowia. Wydawnictwo Naukowe PWN.</li>
    <li>Jahoda, M. (1958). Current concepts of positive mental health. New York: Basic Books</li>
    <li>Ryff, C.D. (1989). Happiness is not everything, or is it? Explorations on the meaning of psychological well-being. Journal of Personality and Social Psychology, 57, 1069-1081.</li>
</ol>



{% endblock %}