{% extends 'zdrowie/base.html' %}
{% block content %}

<h1>Psychologiczne aspekty opieki zdrowotnej</h1>

<h3>Relacja lekarz-pacjent</h3>
<p>Skuteczność procesu leczenia w dużej mierze zależy od jakości kontaktu lekarza z pacjentem. Bez wzajemnego zrozumienia oraz szacunku szansa na pozytywne zakończenie procesu leczenia znacznie maleje.</p>

<p>Skuteczność przekazu zależy od:</p>
<ul>
    <li><b>Lekarza</b>:</li>
    <ul>
        <li>jego inteligencji emocjonalnej,</li>
        <li>posługiwaniem się prostym językiem, dostosowanym do odbiorcy,</li>
        <li>wiedzą o warunkach uczenia się pacjenta.</li>
    </ul>
    <li><b>Pacjenta i lekarza</b>:</li>
    <ul>
        <li>kompetencji komunikacyjnych obu stron,</li>
        <li>chęci do współpracy obu stron.</li>
    </ul>
</ul>

<h3>Realizacja zaleceń lekarskich</h3>
<p>Niewątpliwie kluczowym aspektem skutecznego leczenia oraz powrotu do zdrowia jest spełnianie zaleceń lekarskich. Istotną rolę spełnia tu kontekst sytuacyjny oraz rodzinny, ale poza nim możemy rozpatrywać czynniki, które ułatwiają, bądź utrudniają realizację owych zaleceń.</p>

<h6>Czynniki ułatwiające:</h6>
<ul>
    <li>uznanie choroby za poważną, ale uleczalną,</li>
    <li>zalecenie musi być zrozumiane i zapamiętane,</li>
    <li>cechy indywidualne: umiejętności podporządkowania się, systematyczności, wytrwałości,</li>
    <li>dobry kontakt z lekarzem, zadowolenie z wizyty, zaufanie.</li>
</ul>

<h6>Czynniki utrudniające:</h6>
<ul>
    <li>uznanie choroby za lekką lub nieuleczalną, a środków służących leczeniu za nieprzyjemne,</li>
    <li>wieloletnie nawyki, niezgodność z filozofią życiową,</li>
    <li>czasem koszty przewyższają zyski z leczenia,</li>
    <li>opór, przekora wobec lekarza lub autorytetów,</li>
    <li>problemy finansowe,</li>
    <li>skutki uboczne rzeczywiste lub przypisywane.</li>
</ul>

<h6>Czynności pacjenta ukierunkowane na zdrowie</h6>
<ul>
    <li>wykonywanie zaleceń lekarskich</li>
    <li>aktywność podejmowana z własnej inicjatywy</li>
</ul>

<h3>Prawa pacjenta</h3>
<ul>
    <li>prawo do wyrażenia zgody na interwencję medyczną,</li>
    <li>prawo do informacji,</li>
    <li>prawo do godności i intymności,</li>
    <li>prawo do pomocy medycznej,</li>
    <li>prawo do opieki medycznej odpowiedniej jakości,</li>
    <li>prawo do tajemnicy,</li>
    <li>prawo dostępu do dokumentacji medycznej.</li>
</ul>

<h3>Niekorzystne zjawiska w opiece zdrowotnej</h3>
<ul>
    <li>niedowład organizacyjny,</li>
    <li>biurokratyzacja,</li>
    <li>niedofinansowanie,</li>
    <li>niewystarczająca liczba lekarzy, zwłaszcza specjalistów,</li>
    <li>wydłużony, wieloletni czas oczekiwania na wizytę i procedury medyczne,</li>
    <li>niedostępność w publicznej służbie zdrowia nowych procedur i leków.</li>
</ul>

<h3>Systemy przekonań zdrowotnych</h3>
<p>Socjolog Stanley King (1962) wyróżnił trzy systemy przekonań i postaw wobec problemów zdrowotnych. Są to:</p>
<ul>
    <li><b>Medycyna pierwotna</b> - podstawą leczenia jest magia. </li>
    <li><b>Medycyna ludowa</b> - system oparty na doświadczeniu. Osoby leczące nie mają formalnego wykształcenia medycznego np. znachor, “babka”, zielarz. </li>
    <li><b>Medycyna naukowa</b> - opiera się na eksperymencie.</li>
</ul>

<h3>Rodzaje interwencji terapeutycznych</h3>
<ul>
    <li>zbieranie informacji od pacjenta o jego emocjach, troskach, nastawieniach, oczekiwaniach czyli psychicznych komponentach choroby,</li>
    <li>udzielanie wyjaśnień o wszystkich ważnych aspektach hospitalizacji, ułatwiające zrozumienie sytuacji oraz elementy edukacji zdrowotnej,</li>
    <li>okazywanie empatii,</li>
    <li>pocieszanie - uspokajanie, podnoszenie poziomu nadziei,</li>
    <li>okazywanie szacunku i ciepła,</li>
    <li>rady i zalecenia.</li>
</ul>

<h3>Dekalog „Szpitala z sercem”</h3>
<ol>
    <li>Dzieci w miarę możliwości leczone są w domu - szpital to ostateczność.</li>
    <li>Nasz szpital jest przyjazny dzieciom i ich opiekunom.</li>
    <li>Na oddziale opiekun (jedno z rodziców, babcia, ciocia) może być przy dziecku przez całą dobę.</li>
    <li>Wszyscy pacjenci dostają przy wpisie na oddział pisemny regulamin, pełną informację o zasadach pobytu dziecka i jego opiekuna w szpitalu.</li>
    <li>Opiekunowie i dzieci w przystępny i zrozumiały sposób są informowani o stanie dziecka i przebiegu leczenia.</li>
    <li>Dziecko jest traktowane z poszanowaniem jego godności i intymności.</li>
    <li>Szpital oferuje opiekunowi godne warunki do towarzyszenia dziecku na oddziale. Ewentualne opłaty służą pokryciu kosztów pobytu (np. koszt prania pościeli, używania czajnika elektrycznego).</li>
    <li>Opiekunowie mogą być obecni przy zabiegach, o ile nie ma przeciwwskazań medycznych i psychologicznych.</li>
    <li>Staramy się oszczędzić dziecku stresu, np. nie budząc wczesnym rankiem na pomiar temperatury.</li>
    <li>W miarę możliwości minimalizujemy ból przy zabiegach i operacjach.</li>
</ol>
<p>Na podstawie: Dekalog akcji „Szpital z sercem”, <a href="https://www.wysokieobcasy.pl/wysokie-obcasy/7,96856,1910836.html?disableRedirects=true">Wysokie Obcasy</a></p>

<hr>

<h6>Przypisy</h6>
<ol>
    <li>King, S.L. (1962). Perceptions of illness and medical practice. New York: Russel.</li>
</ol>
















{% endblock %}