{% extends 'zdrowie/base.html' %}
{% block content %}

<h1>Paradygmaty podejścia do zdrowia</h1>
<p>Stan zdrowia człowieka możemy postrzegać jako jego umiejscowienie na kontinuum zdrowie-choroba lub jako wykluczające się wzajemnie dychotomię zdrowia-choroby.</p>

<h3>Paradygmat patogenetyczny</h3>
<p>W myśleniu o zdrowiu, w którym stosujemy podejście patogenetyczne zadajemy sobie jedno kluczowe pytanie: Jakie czynniki powodują przesuwanie się jednostki w kierunku choroby? Interesują nas te czynniki, które powodują, że człowiek staje się chory. Skupiamy się na brakach, które posiada pacjent. A zdrowie i choroba wzajemnie się wykluczają. Człowiek jest albo zdrowy albo chory. </p>
<p>W paradygmacie patogenetycznym choremu towarzyszą emocje negatywne. Poczucie kontroli jest ulokowane na zewnątrz pacjenta. Nie jest on odpowiedzialny za własne zdrowie. W badaniach patogenetycznych opieramy się na normach i statystyce. Choroba, to odstąpienie od normy.</p>

<h3>Paradygmat salutogenetyczny</h3>
<p>Stosując paradygmat salutogenetyczny zadajemy sobie inne pytanie niż w przypadku patogenezy. Zastanawiamy się jakie czynniki powodują przesuwanie się jednostki w kierunku zdrowia. Owy paradygmat polega na poszukiwaniu psychospołecznych uwarunkowań zdrowia. Próbujemy zrozumieć jak to się dzieje, że niektórzy ludzie zachowują zdrowie mimo działania szkodliwych czynników. </p>
<p>Musimy zadać sobie kluczowe pytanie: Dlaczego ludzie, chociaż podlegają oddziaływaniom wielu stresorów (patogenów), zachowują zdrowie, a w wypadku jego załamania szybko do niego powracają?</p>
<p>Według Aarona Antonovsky'ego, twórcy poczucia koherencji oraz koncepcji salutogenezy, poziom zdrowia zależy od:</p>
<ul>
    <li>uogólnionych zasobów odpornościowych,</li>
    <ul>
        <li>właściwości jednostki,</li>
        <ul>
            <li>biologicznych,</li>
            <li>psychologicznych,</li>
        </ul>
        <li>cech społeczno-kulturowych,</li>
    </ul>
    <li>stresorów - wymagań, dla których nie ma gotowych ani zautomatyzowanych reakcji adaptacyjnych i które rodzą stan napięcia,</li>
    <li>poczucia koherencji - "klucza do zdrowia", wewnętrznego centralnego czynnika, który powoduje, że ludzie radzą sobie ze stresem i nie chorują lub szybko wracają do zdrowia,</li>
    <li>zachowania i stylu życia (Antonovsky, 1987).</li>
</ul>

<hr>
<h6>Przypis</h6>
<ol>
    <li>Antonovsky, A. (1987). Unraveling the mystery of health: How people manage stress and stay well. Jossey-bass.</li>
</ol>


{% endblock %}