{% extends 'zdrowie/base.html' %}
{% block content %}

<h1>Wybrane podejścia do zagadnienia zdrowia</h1>
<p>Na przestrzeni lat powstało wiele licznych teorii oraz pojęć, które podejmowały próbę wyjaśnienia lub ustalenia czynników odpowiedzialnych za nasze zdrowie lub jego brak. Największą popularnością zdecydowanie cieszy się wcześniej omówione <a href="{% url 'zdrowie:koherencja' %}">Poczucie koherencji </a> Aarona Antonovsky'ego. Teraz chciałbym przedstawić kilka innych pojęć, które również zdobyły znaczną popularność w literaturze fachowej oraz zostały sprawdzone empirycznie.</p>

<h3>Hardiness</h3>
<p>Pojęcie wprowadzone do nauki przez Suzanne Kobasa. W polskim tłumaczeniu “odporność”. Składa się z trzech czynników:</p>
<ul>
    <li><b>Zaangażowanie</b> - zdolność do wierzenia w prawdziwość, ważność i atrakcyjność tego kim się jest i co się robi. Występuje tendencja do włączenie się w wiele dziedzin życia. Małe zaangażowanie skutkuje alienacją.</li>
    <li><b>Kontrola</b> - przekonanie o możliwości wpływu i działania zgodne z tym przekonaniem.</li>
    <li><b>Wyzwanie</b> - uznanie zmienności losu za regułę, nie wyjątek i zmianę traktują jako stymulującą rozwój, a nie jako zagrożenie. Stres jest natomiast traktowany jako okazja do rozwoju osobistego. Charakteryzuje się otwartością, giętkością poznawczą, tolerancją dla wieloznaczności.</li>
</ul>

<h3>Poczucie stałości</h3>
<p>Pojęcia Thomas’a Boyce - powtarzalne, codzienne zajęcia skutkują mniejszym zachorowaniem. Czynności rytualne pomagają radzić sobie z kryzysem. Składniki: powtarzalność zachowań, cenione elementy doświadczenia życiowego, świadomość, że jest się człowiekiem kompetentnym i rzetelnym powodują ruch w stronę zdrowia.</p>

<h3>Resilience</h3>
<p>Prężność psychiczna na przestrzeni ostatnich dwóch dekad rozpala myśli ludzi nauki do czerwoności. Jest to niezwykle często badane zagadnienie, jego liczne interpretacje możemy odnaleźć w artykułach naukowych poświęconych zdrowiu.</p>

<p>Pojęcie <i>Resilience</i> możemy interpretować, jako:</p>
<ul>
    <li>pozytywny rozwój, mimo życia w niesprzyjających okolicznościach,</li>
    <li>zdolność adaptacji do skrajnie trudnych sytuacji,</li>
    <li>powrót do zdrowia po doświadczeniach zagrożenia czy zniszczenia.</li>
</ul>

<p>Kompetencje osoby odpornej psychicznie:</p>
<ul>
    <li>optymizm,</li>
    <li>wytrwałość,</li>
    <li>umiejętność pokonywania stresu,</li>
    <li>umiejętność rozwiązywania problemów,</li>
    <li>umiejętności społeczne,</li>
    <li>poczucie własnej skuteczności,</li>
    <li>dobra samoocena.</li>
</ul>

<p>Czynniki odporności:</p>
<ul>
    <li>przywiązanie,</li>
    <li>poczucie skuteczności,</li>
    <li>samokontrola.</li>
</ul>

<h3>Optymizm życiowy</h3>
<p>Optymizm, to nasze przekonanie, że sytuacja potoczy się w dobrym kierunku i nasze działania zakończą się powodzeniem. Podejścia opisujące optymizm, z którymi możemy spotkać się w literaturze można podzielić na dwa nurty:</p>
<ul>
    <li>skłonności jednostki do spostrzegania i wartościowania świata w kategoriach pozytywnych,</li>
    <li>oczekiwania raczej pomyślnych niż niepomyślnych zdarzeń w przyszłości (Ogińska-Bulik, Juczyński, 2008).</li>
</ul>

<p>Najpopularniejsze teorie dotyczące optymizmu, to:</p>
<ul>
    <li>Teoria inklinacji pozytywnej Czapińskiego (Czapiński, 1998),</li>
    <li>Teoria wyjaśniania przyczyn M. Seligmana,</li>
    <li>Regulacyjna teoria optymizmu Scheiera i Carvera.</li>
</ul>

<p>Większość teorii oraz badań nad optymizmem prowadzi do wspólnych wniosków, że wysoki poziom optymizmu wiąże się pozytywnie z motywacją do osiągnięć i sprzyja pozytywnej ocenie stanu zdrowia, w tym również dobrostanu psychicznego. Optymizm jest również negatywnie skorelowany z depresją.</p>

<hr>

<h6>Przypisy</h6>
<ol>
<li>Czapiński, J. (1998). Jakość życia Polaków w czasie zmiany społecznej. Raport końcowy z realizacji projektu badawczego „Związek między obiektywnymi i subiektywnymi wskaźnikami jakości życia w okresie transformacji systemowej”. MISS UW, Warszawa.</li>
<li>Ogińska-Bulik, N., & Juczyński, Z. (2008). Osobowość: stres a zdrowie. Difin.</li>
</ol>

{% endblock %}