{% extends 'zdrowie/base.html' %}
{% block content %}

<h1>Profilaktyka, Prewencja, Promocja</h1>

<h3>Profilaktyka</h3>
<p>Profilaktyka - działania mające na celu przeciwdziałanie niekorzystnym zjawiskom społecznym, zwłaszcza chorobom.</p>

<h6>Profilaktyka w zakresie zdrowia psychicznego </h6>
<ul>
    <li><b>Promocja zdrowia psychicznego</b> to działania mające na celu wzmocnienie zdrowia psychicznego, dobrego samopoczucia i poprawę jakości życia całych populacji, grup i jednostek.</li>
    <li><b>Prewencja zaburzeń psychicznych</b> to działania, których celem jest redukcja zagrożeń dla zdrowia psychicznego i zmniejszenie liczby incydentów zaburzeń</li>
</ul>

<h3>Prewencja</h3>
<p>Możemy wyróżnić dwa rodzaje podejść do zachowań prewencyjnych:</p>
<ul>
    <li><b>podejście jednostkowe</b> - oparte na badaniu jednostkowych przypadków; dokładna diagnoza zaburzenia, analiza cech i doświadczeń jednostki, które mogły do niego doprowadzić; zaburzenia natury psychicznej lub fizycznej; czynniki indywidualne mogą obejmować aspekty środowiska z wczesnego okresu życia, IQ, temperament, wykształcenie, związki, stres, wydarzenia życiowe, genotyp; poprzez analizę różnic indywidualnych starają się ustalić co powoduje zaburzenie u danego człowieka</li>
    <ul>
        <li>cel: złagodzenie objawów u pojedynczych osób</li>
    </ul>
    <li><b>podejście populacyjne</b> - oparte na badaniu populacji; starają się zrozumieć, dlaczego w niektórych populacjach występuje więcej zaburzeń danego typu niż w innych - np. choroba wieńcowa częściej w USA niż w Japonii, epidemiolodzy analizują różnice między populacjami lub grupami; czynniki badań: dystrybucja dochodu, stopa zatrudnienia, toksyczne czynniki w środowisku, stopa rozwodów, zmienne związane ze stylem życia (wzorce odżywiania się, alkohol, papierosy)</li>
    <ul>
        <li>cel: zmniejszenie liczby osób cierpiących na dane zaburzenie</li>
    </ul>
</ul>

<h6>Prewencja populacyjna</h6>
<p>Prewencja populacyjna to zabiegi które uznaje się za pożądane dla każdej osoby w populacji.</p>
<ul>
    <li><b>Fizyczna</b> - np.:</li>
    <ul>
        <li>obowiązkowe zapinanie pasów w aucie, </li>
        <li>fluoryzacja wody pitnej, </li>
        <li>zdrowa dieta,</li>
        <li>ruch fizyczny,</li>
        <li>rozsądne picie alkoholu, </li>
        <li>rzucenie palenia;</li>
    </ul>
    <li><b>Psychiczna</b> - np.: </li>
    <ul>
        <li>zachęty do pozytywnego postrzegania siebie, </li>
        <li>rozwijania umiejętności społecznych, </li>
        <li>uczenie redukcji stresu i zachowań związanych z radzeniem sobie.</li>
    </ul>
</ul>

<h6>Środki prewencji populacyjne</h6>
<ul>
    <li><b>powszechne</b> - stosowane wobec wszystkich członków społeczności</li>
    <li><b>selektywne</b> - stosowane wobec członków podgrupy w ramach danej społeczności np. ze względu na wiek lub płeć</li>
</ul>

<h6>Przykładowe zachowania prewencyjne:</h6>
<ul>
    <li>regularne samobadanie piersi,</li>
    <li>regularne samobadanie jąder,</li>
    <li>coroczne wykonywanie zdjęć całej powierzchni skóry i atypowych znamion,</li>
    <li>wykonywanie badań cytologicznych szyjki macicy,</li>
    <li>wykonywanie badań przesiewowych dotyczących raka jelita grubego lub raka prostaty,</li>
    <li>zdjęcia rentgenowskie płuc wśród osób uzależnionych od nikotyny.</li>
</ul>

<h3>Promocja zdrowia</h3>
<p>Pojęcie promocji zdrowia określone zostało w Karcie Ottawskiej, oficjalnym dokumencie I Międzynarodowej Konferencji Promocji Zdrowia, która miała miejsce w Ottawie w 1986 roku. Promocję zdrowia zdefiniowano jako proces umożliwiający każdemu człowiekowi oddziaływanie na własne zdrowie w sensie jego poprawy i utrzymywania” (Karta Ottawska, 1986). Ujęcie takie uwypukliło znaczenie behawioralnych uwarunkowań zdrowia, w tym stylów życia i zachowań zdrowotnych (Dolińska-Zygmunt, 2000).</p>

<h6>Elementy składowe promocji zdrowia</h6>
<ul>
    <li><b>Edukacja zdrowotna</b> - całożyciowy proces uczenia się ludzi jak żyć, aby:</li>
    <ul>
        <li>zachować i doskonalić zdrowie własne i innych,</li>
        <li>w przypadku wystąpienia choroby lub niepełnosprawności aktywnie uczestniczyć w jej leczeniu, radzić sobie i zmniejszać jej negatywne skutki.</li>
    </ul>
    <li>Zapobieganie chorobom,</li>
    <li>Lokalna polityka zdrowotna.</li>
</ul>

<h6>Cele promocji zdrowia</h6>
<p>Działania promujące zdrowie wymagają rozwiązań wielopoziomowych i systemowych o charakterze prospektywnym i ciągłym. Jest to zatem przedsięwzięcie na skalę ogólnoświatową, mające wymiar zarówno polityczny jak i społeczny. Jego nadrzędnym celem i ogniwem jest zdrowie człowieka (Pilecka i Stachel, 2011). Ten nadrzędny cel może być osiągnięty przez działania zmierzające do spełnienia przynajmniej dwunastu uwarunkowań dobrego samopoczucia:</p>
<ul>
    <li>Utrzymanie kondycji psychofizycznej stosownie do płci i wieku,</li>
    <li>Możliwość pełnego korzystania z praw i swobód obywateli,</li>
    <li>Uzyskanie odpowiedniego wykształcenia,</li>
    <li>Możliwość zatrudnienia,</li>
    <li>Odpowiednie warunki pracy,</li>
    <li>Dobre warunki mieszkaniowe,</li>
    <li>Odpowiednie odżywianie i zaopatrzenie w żywność,</li>
    <li>Dostępność odpowiedniej odzieży,</li>
    <li>Poczucie bezpieczeństwa,</li>
    <li>Możliwość oszczędzania,</li>
    <li>Możliwość komunikacji i łączności,</li>
    <li>Możliwość regeneracji sił,</li>
    <li>Możliwość wypoczynku i rozrywki (Karta Ottawska, 1986).</li>
</ul>

<p>Aby wypełnienie tych uwarunkowań było możliwe niezbędne jest przestrzeganie trzech fundamentalnych wartości:</p>
<ul>
    <li>zdrowie jako podstawowe prawo człowieka,</li>
    <li>równość w zdrowiu i solidarność w działaniu na rzecz zdrowia wewnątrz krajów i między krajami oraz ich mieszkańcami,</li>
    <li>uczestnictwo w stałym rozwoju dziedziny zdrowia i odpowiedzialność za rezultaty działalności jednostek, grup, instytucji i społeczności lokalnych.</li>
</ul>

<hr>

<h6>Przypisy</h6>
<ol>
        <li>Dolińska-Zygmunt, G. (2000). Podmiotowe uwarunkowania zachowań promujących zdrowie. Wydawn. In-tu Psychologii PAN.</li>
    <li>Karta Ottawska. (1994). Zdrowie i promocja zdrowia. W: J.B. Karski i in. (red.). Promocja zdrowia. Warszawa, Sanmedia, 15-24.</li>
    <li>Pilecka, W., & Stachel, M. (2011). Psychologia zdrowia dzieci i młodzieży. Perspektywa kliniczna. Kraków: Wydawnictwo Uniwersytetu Jagiellońskiego.</li>
</ol>

{% endblock %}