{% extends 'zdrowie/base.html' %}
{% block content %}

<h1>Psychologia w zdrowiu i chorobie</h1>
<p>Na przestrzeni lat możemy zaobserwować rozwój roli psychologii w leczeniu oraz rozumieniu zdrowia i choroby. Jednakże pierwsze systematyczne próby ugruntowania wiedzy psychologicznej w medycynie rozpoczęły się relatywnie niedawno. Pierwsza taka próba została podjęta w latach 20. XX wieku w momencie powstania medycyny psychosomatycznej. Później wyodrębniła się medycyna behawioralna, a następnie psychologia zdrowia, która jest najbardziej prężnie rozwijającym się kierunkiem w tej dziedzinie.</p>

<h3>Psychologia zdrowia</h3>
<p>Określenie to pojawiło się pod koniec lat siedemdziesiątych XX wieku. Za ojca psychologii zdrowia jest uważany amerykański psycholog Joseph Matarazzo. Wraz ze współpracownikami sformułowali oni pierwszą definicji nowopowstałej dyscypliny.</p>

<h6>Definicja Josepha Matarazzo</h6>
<p>Psychologia zdrowia to całokształt specyficznego oświatowego, naukowego i profesjonalnego wkładu psychologii jako dyscypliny do promocji i utrzymywania zdrowia, zapobiegania i leczenia chorób, rozpoznawania etiologicznych i diagnostycznych korelatów zdrowia, choroby i zbliżonych dysfunkcji, a także do analizy i optymalizacji systemu opieki zdrowotnej i kształtowania polityki zdrowotnej (Matarazzo, 1982, s.4).
</p>

<h6>Definicja Shelley Taylor</h6>
<p>Psychologia zdrowia jest działaniem psychologii zajmującym się poznaniem wpływu czynników psychologicznych na to, że człowiek pozostaje zdrowy, określeniem ich znaczenia w powstawaniu chorób oraz ich roli w kształtowaniu zachowania ludzi, kiedy chorują (Taylor, 1986, s. 5).</p>

<h6>Definicja Susan Michie</h6>
<p>Psychologia zdrowia to dziedzina psychologii zajmująca się badaniami psychologicznymi procesów związanych ze zdrowiem, chorobą i opieką zdrowotną. Wyniki tych badań są stosowane do: promocji zdrowia i jego ochrony, prewencji chorób i wspomagania procesów prozdrowotnych w chorobie oraz do analizy i polepszania systemów opieki zdrowotnej, a także do tworzenia ustaw w tym zakresie (Michie, 2004, s. 384-406)</p>

<h6>Źródła wyodrębnienia</h6>
<p>Psychologia zdrowia była odpowiedzią na rosnące potrzeby społeczeństwa związane ze zmianami, które następowały w świecie: </p>
<ul>
    <li>Nastąpiła zmiana charakteru chorób - znaczne zmniejszenie chorób zakaźnych. Główne zagrożenie stanowiły choroby przewlekłe.</li>
    <li>Rosnąca potrzeba humanizacji nauk medycznych.</li>
    <li>Rosnące koszta opieki zdrowotnej, które wymagały redukcji. Np. poprzez profilaktykę.</li>
    <li>Dowody na znaczenie czynników psychologicznych dla zdrowia.</li>
    <li>Wzrost wiedzy medycznej w społeczeństwie.</li>
</ul>

<h6>Założenia</h6>
<p>U podstaw psychologii zdrowia leżą psychologiczne koncepcje zdrowia, które traktują zdrowie i chorobę jako krańce kontinuum, a nie dychotomię wzajemnie się wykluczającą. Kładzie również duży nacisk na zdrowie i profilaktykę.</p>

<h3>Prekursorzy psychologii zdrowia</h3>

<h5>Medycyna psychosomatyczna</h5>
<p>Początek temu kierunkowi dali psychiatrzy pracujący w nurcie psychoanalitycznym. Pierwszy raz termin psychosomatyka został użyty w 1818 przez J.Ch. Heinrotha przy opisie przyczyn bezsenności. Termin ten stał się popularny jednak dopiero w latach 20. i 30. XX wieku, wraz z powstaniem medycyny psychosomatycznej. W tym nurcie poszukiwano specyficznych cech osobowościowych, które mogły predysponować ludzi do pewnych schorzeń ("osobowość wrzodowca", "osobowość zawałowca" itd.). Tak było w przeszłości. </p>

<p>Współcześnie rozumiana medycyna psychosomatyczna ujmuje człowieka holistycznie jako jedność biopsychospołeczną. Przyjmuje się również polietiologiczną koncepcję choroby. Oznacza, to że do rozwoju choroby przyczynia się splot czynników różnej natury. Dzięki holistycznemu podejściu możliwe jest włączenie w proces leczenia nie tylko lekarzy, ale specjalistów różnych z dziedzin np. psychologów. Medycyna psychosomatyczna zajmuje się wzajemnymi zależnościami między funkcjonowaniem emocjonalnym, a cielesnym. Nie jest specyficzną dziedziną, ale integralną częścią wszystkich specjalności medycznych.</p>

<p>Zbigniew Lipowski w swoich pracach wysuwa następujące postulaty odnośnie medycyny psychosomatycznej:
<ul>
    <li>Człowiek jest organizmem biopsychospołecznym, odbierającym, przechowującym, przetwarzającym, tworzącym i przekazującym informacje oraz przypisywane im znaczenie, co z kolei wywołuje reakcje emocjonalne. Te ostatnie, dzięki swym behawioralnym korelatom, mogą wpływać na wszelkie funkcje społeczne, zarówno w zdrowiu, jak i w chorobie.</li>
    <li>Zdrowie i choroba to mniej lub bardziej arbitralne zdefiniowane stany organizmu, współdeterminowane przez czynniki psychologiczne, społeczne i biologiczne, i zawsze mające aspekty biopsychospołeczne.</li>
    <li>Badanie, zapobieganie, rozpoznawanie i leczenie chorób winno brać pod uwagę wkład wszystkich trzech klas czynników z uwzględnieniem ich dynamiki.</li>
    <li>Etiologia jest z zasady wieloczynnikowa, jednakże względny udział każdej klasy czynników przyczynowych zmienia się w zależności od rodzaju choroby i od właściwości osoby; niektóre z nich są koniecznie, inne odgrywają rolę wspierającą.</li>
    <li>Optymalna opieka nad pacjentem wymaga uwzględnienia w praktyce klinicznej wszystkich powyższych postulatów (Lipowski, 1984)</li>
</ul>
</p>

<h5>Medycyna behawioralna</h5>
<p>Termin ten pojawił się w latach 70. XX wieku. W 1977 roku odbyła się konferencja naukowa, na której podjęto pierwsze próby zdefiniowania medycyny behawioralnej. Ważną rolę w tym procesie odegrali psychologowie: Gary Schwartz, Stephen Weiss i David Jenkins. Już rok później opracowano pierwszą definicję: Medycyna behawioralna jest dziedziną interdyscyplinarną, zajmującą się rozwojem i integracją wiedzy i technik z zakresu nauk behawioralnych i biomedycznych, pozwalających na zrozumienie zdrowia i choroby, oraz zastosowaniem tej wiedzy i technik w prewencji, diagnozie, leczeniu i rehabilitacji (Weiss, 1987). Jednakże medycyna behawioralna nigdy nie stanie się samodzielną dyscypliną, ponieważ jej założeniem jest korzystanie z interdyscyplinarnego połączenia wielu dyscyplin.</p>
<p>Całość procesu leczenia powinna się odbywać w interdyscyplinarnych zespołach, w których można stosować złożone techniki dzięki wieloaspektowej wiedzy członków. Opisy badań i diagnozy powinny być tworzone w języku zrozumiałym dla wszystkich, zarówno pacjentów, jak i specjalistów z innych dyscyplin.</p>

<h5>Psychologia medyczna</h5>
<p>Zajmuje się psychologicznymi aspektami chorób. Jej przedmiotem są: psychologiczne aspekty powstawania, przebiegu i leczenia chorób somatycznych. Ponadto skupia się na takich zagadnieniach jak: zależności psychosomatyczne i somatopsychiczne, sytuacja człowieka chorego, zachowanie się wobec własnej choroby, problematyka kontaktu lekarz-pacjent.</p>

<hr>
<h6>Przypisy</h6>
<ol>
        <li>Lipowski, Z. J. (1984). What does the word “psychosomatic” really mean?. In Psychosomatic Medicine and Liaison Psychiatry (pp. 119-137). Springer, Boston, MA.</li>
    <li>Matarazzo, J.D. (1982). Behavioral health’s challenge to academic, scientific, and professional psychology. American Psychologist, 37, 1-14.</li>
        <li>Michie, S. (2004). Professional practice and issues in health psychology. W: A. Kaptein, J. Weinman (red.) Health Psychology (s. 384-400). Oxford: BBS Blackwell.</li>
    <li>Taylor, S.E. (1986). Health Psychology. New York: McGraw-Hill.</li>
    <li>Weiss, S.M. (1987). Udział psychologii w medycynie behawioralnej. Przegląd Psychologiczny, 30, 431-439.</li>
</ol>


{% endblock %}