{% extends 'zdrowie/base.html' %}
{% block content %}

<h1>Zdrowie a stres</h1>
<p>Zagadnienie stresu oraz jego wpływu na organizm człowieka rozbudza wyobraźnię naukowców do czerwoności od dekad. Przełomowe oraz warte zapamiętania zdecydowanie są badania kanadyjskiego fizjologa węgierskiego pochodzenia, <b>Hansa Selyego</b>. </p>

<p>Dzięki jego pracy naukowej wiemy o stresie zdecydowanie więcej. Stworzył on teorię <b>Ogólnego zespołu adaptacyjnego</b> (General Adaptation Syndrom - GAS). Termin "stres" został użyty przez niego do określenia niespecyficznej reakcji organizmu powstającego w odpowiedzi na działanie bodźców szkodliwych (stresorów). Zespół ma trzy kolejne stadia:</p>
<ul>
    <li>Reakcji alarmowej,</li>
    <li>Stadium odporności</li>
    <li>Stadium wyczerpania.</li>
</ul>

<h3>Stresory</h3>
<p>Stresory to wszelkie formy interakcji jednostki z otoczeniem, które powodują doświadczenie przez nią stresu. Możemy wyróżnić ich dwa rodzaje:</p>
<ul>
    <li><b>incydentalne</b> - pojedyncze wydarzenia,</li>
    <li><b>przewlekłe</b> - towarzyszą człowiekowi przez dłuższy czas.</li>
</ul>

<h3>Stres psychologiczny</h3>
<p>Możemy rozróżnić trzy nurty w opisie stresu, różniące się lokalizacją jego źródła:</p>
<ul>
    <li>stres jako <b>sytuacja</b>, bodziec, wydarzenie o charakterze zewnętrznym,</li>
    <li>stres jako <b>reakcja</b> wewnętrzna człowieka,</li>
    <li>stres jako <b>wzajemna relacja</b> czynników zewnętrznych i właściwości człowieka.</li>
</ul>
<p>Zdecydowanie w nauce najwięcej uwagi poświęca się nurtowi trzeciemu. Znany on jest jako ujęcie transakcyjne stresu.</p>

<h3>Ujęcie transakcyjne</h3>
<p>Przy stresie w ujęciu transakcyjnym zachodzi brak równowagi pomiędzy wymaganiami obiektywnymi lub istniejącymi w ocenie jednostki, a możliwościami realnymi lub istniejącymi w ocenie jednostki. Gdy zachodzi nierównowaga pomiędzy tymi dwoma ocenami występuje reakcja stresowa. Taka reakcja może być postrzegana przez jednostkę na trzy sposoby:</p>
<ul>
    <li>krzywda lub strata,</li>
    <li>zagrożenie,</li>
    <li>wyzwanie.</li>
</ul>
<p>Najkorzystniejsze dla jednostki jest postrzeganie stresu jako <b>wyzwania</b>. Wówczas osoba ma największa szansę na korzystne wyjście z sytuacji i zachowanie zdrowia.</p>

<h3>Teoria zachowania zasobów Hobfolla</h3>
<p>Kolejną znaczącą teorią regulującą wpływ stresu na zdrowie jest teoria zachowania zasobów Stevana E. Hobfolla. W swojej teorii przyjmuje on, że ludzka aktywność motywowana jest nadrzędnym celem, którym jest pozyskiwanie, utrzymywanie i ochrona cenionych obiektów, określonych jako zasoby. Zasoby są definiowane przez niego jako <b>przedmioty, warunki, własności osobiste i formy energii</b>, które albo same są wartościowe dla przeżycia, albo służą jako środek do osiągnięcia obiektów mających tę właściwość. </p>
<p>Zjawisko stresu może wystąpić w trzech przypadkach:</p>
<ul>
    <li>zagrożenie utratą zasobów,</li>
    <li>faktyczną utratą zasobów,</li>
    <li>brakiem zysków w następstwie zainwestowanych zasobów.</li>
</ul>
<p>Sam stres jest wewnętrznym stanem jednostki, zdeterminowanym przez percepcję tych okoliczności. Natomiast choroba stanowi deficyt zasobów osobowych (Hobfoll, 2001).</p>

<h3>Radzenie sobie ze stresem</h3>
<p>Istotą reakcji stresowej jest obecność wymagań zewnętrznych lub wewnętrznych będących na granicy możliwości przystosowawczych człowieka albo ich przekraczających. Aktywność, którą człowiek podejmuje aby poradzić sobie z tymi wymaganiami nazywamy radzeniem sobie ze stresem.</p>
<p>Radzenie sobie to stale zmieniają się poznawcze i behawioralne wysiłki mające na celu uporanie się z określonymi zewnętrznymi i wewnętrznymi wymaganiami, ocenianymi przez osobę jako obciążające lub przekraczające jej zasoby (Lazarus i Folkman, 1984, s.141). </p>
<p>Możemy rozróżnić następujące funkcje radzenia sobie:</p>
<ul>
    <li>instrumentalną, zadaniową, zorientowaną na problem:</li>
    <ul>
        <li>rozwój zasobów,</li>
        <li>lepsze gospodarowanie istniejącymi zasobami,</li>
        <li>zmniejszenie wymagań.</li>
    </ul>
    <li>samoregulację emocji:</li>
    <ul>
        <li>samoregulacja emocji negatywnych polega na ich redukcji:</li>
        <ul>
            <li>zapobieganiu,</li>
            <li>zmniejszaniu nasilenia,</li>
            <li>skracaniu czasu trwania.</li>
        </ul>
        <li>samoregulacja emocji pozytywnych polega na ich intensyfikacji:</li>
        <ul>
            <li>wzbudzanie,</li>
            <li>podtrzymywanie,</li>
            <li>rozwijanie.</li>
        </ul>
    </ul>
    <li>ukierunkowanie na znaczenie:</li>
    <ul>
        <li>urealnienie priorytetów,</li>
        <li>adaptacyjne przekształcanie celów,</li>
        <li>znajdowanie korzyści w doświadczeniach stresowych,</li>
        <li>celowe przypominanie sobie korzyści osiągniętych w przeszłości w związku ze źródłem stresu,</li>
        <li>pozytywne przewartościowanie - takie poznawcze przekształcenie swojej sytuacji stresowej, aby ukazała się.</li>
    </ul>
</ul>

<hr>

<h6>Przypisy</h6>
<ol>
    <li>Hobfoll, S E. (2001). The influence of culture, community, and the nested-self in the stress process: Advancing conservation of resources theory. Applied Psychology: An international Review, 50, 337-421.</li>
    <li>Lazarus, R.S., Folkman S. (1984). Stress, appraisal, and coping. New York: Springer.</li>
</ol>









{% endblock %}