{% extends 'zdrowie/base.html' %}
{% block content %}

<h1>Czym jest zdrowie?</h1>
<p>Gdy próbujemy zdefiniować zdrowie nie przychodzi nam to z łatwością. Większość z nas zapytanych o to czym jest zdrowie z pewnością w swojej odpowiedzi umieści informację o tym, że zdrowie to brak choroby. Jeżeli nie jesteśmy chorzy, to automatycznie powinniśmy być zdrowi. Niestety w tym przypadku intuicja nie daje nam jednoznacznej i prawidłowej odpowiedzi. Ponieważ zdrowie, to zdecydowanie coś więcej niż tylko brak choroby. Jest to kategoria wielowymiarowa, zmienna, wielokryterialna i ma charakter relatywny. W jednej ze swoich licznych publikacji próbę zdefiniowania zdrowia podjęła pani profesor Helena Sęk:
</p>
<p>
"Próba podsumowania różnych sposobów konceptualizowania zdrowia wykazała, że po 30 latach studiów nad jego pojęciem można stwierdzić, iż:

<ul>
    <li>zdrowie jest dobrem osobistym i społecznym określanym obiektywnie i subiektywnie,</li>
    <li>zdrowie jest zdolnością do realizacji potencjałów fizycznych, psychicznych i społecznych,</li>
    <li>poziom (stan) zdrowia zależy od dynamicznego równoważenia możliwości, potrzeb, wymagań i aktywności własnej podmiotu,</li>
    <li>zdrowy człowiek zaspokaja potrzeby, realizuje cele, wypełnia zadania życiowe w toku rozwoju, przezwycięża trudności i tworzy więzi,</li>
    <li>efektem tego jest poczucie dobrostanu." (Sęk, 2017)</li>
</ul>
</p>

<h3>Zdrowie jako…</h3>
<p>W literaturze przedmiotu spotykamy się z kilkoma głównymi kategoriami czym zdrowie może być dla ludzi. Poniżej przedstawiam te kategorie.</p>

<h5>Zdrowie jako dobrostan biopsychospołeczny</h5>
<p>Światowa Organizacja Zdrowia (WHO) w 1946 roku zaproponowała użycie następującej definicji zdrowia: "Zdrowie utożsamiane jest z pełnym dobrostanem (well-being) fizycznym, psychicznym i społecznym, a nie wyłącznie z brakiem objawów chorobowych." Była to pierwsza tak kompleksowa definicja zdrowia. Odnosimy się w niej również do zdrowia psychicznego i społecznego, co jest dużym krokiem naprzód w traktowaniu człowieka jako całości. Niestety nie była to definicja idealna. Na przestrzeni lat zarzucano jej idealizm i brak realizmu. Tak zdefiniowanego zdrowia nie da się uzyskać. Dlatego w 2004 roku WHO zaktualizowało ową definicję o fakt, że "dobrostan zależy od poczucia własnej skuteczności, samoaktualizacji potencjału intelektualnego oraz od poczucia autonomii."</p>

<h5>Zdrowie jako potencjał i właściwości człowieka oraz jego kontekst życia</h5>
<p>Zdrowie ma status dyspozycji umożliwiającej adaptacyjne funkcjonowanie w określonym kontekście środowiskowym. W takim rozumieniu możemy mówić o następującej definicji zdrowia: "zdrowie jako poddająca się zmianom zdolność człowieka zarówno do osiągania pełni własnych fizycznych, psychicznych i społecznych możliwości, jak i reagowania na wyzwania środowiska" (Słońska i Misiuna, 1993, s. 68) W tym przypadku zdrowie traktujemy bardziej jako przypadłość człowieka. Możemy o kimś powiedzieć, że ma dobre lub złe zdrowie albo, że tego zdrowia nie ma w ogóle. Akcentujemy pewną stałość zdrowia.</p>

<h5>Zdrowie jako proces</h5>
<p>Zdrowie jako proces charakteryzuje podejście Aarona Antonovsky'ego, który stosuje perspektywę salutogenetyczną. W owej perspektywie zdrowie i choroba tworzą kontinuum, którego każde z nich jest jednym z krańców. Dlatego też zdrowie nie jest zasobem ani wartością, a procesem przemieszczania się po tym kontinuum. Chorobę traktuje się jako następstwo niewydolności tego procesu.</p>

<h5>Zdrowie jako wartość</h5>
<p>"W tej koncepcji zdrowie i choroba nie są umieszczone na wspólnym kontinuum, ale podobnie jak inne wartości mają określony znak i traktowane są rozłączenie. Zdrowie jest wartością pozytywną, do której człowiek dąży, a jego przeciwieństwo - choroba - wartością negatywną, której człowiek unika." (Tomaszewski, 1975). W takim ujęciu zdrowia traktujemy je jako coś, co może stać się celem naszej aktywności. Dla niektórych zdrowie może stanowić wartość autoteliczną, czyli taką, która jest ważna i cenna sama w sobie. Natomiast dla innych będzie to wartość instrumentalna, czyli taka, która stanowi jedynie środek do osiągnięcia innych celów.</p>

<h3>Dziedziny zdrowia</h3>
<p>Możemy rozważać cztery następujące dziedziny zdrowia:</p>
<ul>
    <li>fizyczne,</li>
    <li>psychiczne,</li>
    <li>społeczne,</li>
    <li>duchowe.</li>
</ul>

<p>
Postaram się teraz pokrótce omówić każdą z tych dziedzin.
</p>

<h5>Zdrowie fizyczne</h5>
<p>Niektóre funkcje naszego organizmu są najsprawniejsze w momencie narodzin np. gojenie się ran. Niestety sprawność fizyczna naszego organizmu z wiekiem maleje. Więc im jesteśmy starsi tym nasze zdrowie fizyczne jest słabsze. Wraz z wiekiem rośnie prawdopodobieństwo wielu chorób somatycznych. Powszechna reguła empiryczna: Ogólne pogorszenie się stanu zdrowia oraz występowanie chorób późniejszym wieku traktowane są powszechnie jako wydarzenia w “normie wiekowej”.</p>

<h5>Zdrowie psychiczne</h5>
<p>Silvano Galderisi wraz z zespołem (2017) definiuje zdrowie psychiczne jako dynamiczny stan wewnętrznej równowagi, która umożliwia osobom wykorzystanie ich umiejętności w harmonii z uniwersalnymi wartościami społecznymi. Prawdopodobieństwo choroby psychicznej nie ma tak wyraźnego liniowego związku z wiekiem jak choroby somatyczne. Większość najbardziej rozpowszechnionych chorób psychicznych rozpoczyna się w młodym lub średnim wieku.</p>

<h5>Zdrowie społeczne</h5>
<p>Za chorobę w tym obszarze traktujemy niemożność pełnienia ról społecznych. Za miarę zdrowia uznajemy poziom wywiązywania się z ról i satysfakcję z ich pełnienia. Dobrostan społeczny to pozytywna ocena doświadczeń wynikających z przynależności do społeczeństwa lub społeczności (Keyes, 1998). Dobrostan społeczny wynika z pięciu zasad życia społecznego:</p>
<ul>
    <li><b>społeczna akceptacja,</b> gdy panują standardy przychylności i życzliwości,</li>
    <li><b>społeczna koherencja,</b> gdy świat jest zrozumiały, sensowny i przewidywalny,</li>
    <li><b>społeczna aktualizacja,</b> gdy realizacja własnego potencjału jest możliwa,</li>
    <li><b>społeczny wkład,</b> gdy człowiek czuje się potrzebny i ważny,</li>
    <li><b>społeczna integracja,</b> gdy człowiek odczuwa więź z innymi członkami grupy.</li>
</ul>
<p>
Tradycyjnie osoby starsze ceni się za doświadczenie i mądrość życiową. Zmienia się to w społeczeństwie informatycznym, w którym ważne jest doświadczenie zbiorowe.
</p>

<h5>Zdrowie duchowe</h5>
<p>Duchowość wiąże się z szansą na dłuższe życie i mniejszym ryzykiem rozmaitych chorób somatycznych. Istotą duchowości, jest rozumiana procesualnie transcendencja, polegająca na aktywności wykraczającej poza granice aktualnie doświadczanego Ja czy doświadczanie własnej egzystencji. Transcendencja to “ruch w górę”, w kierunku wzrostu i rozwoju. Może mieć charakter:
<ul>
    <li>zewnętrzny np. Bóg,</li>
    <li>wewnętrzny np. rozwój osobisty.</li>
</ul></p>
<p>Najwyższe wskaźniki duchowości stwierdzono w najstarszej grupie badanych - po 60. roku życia (Metlak, 2002). Aby lepiej zrozumieć rozwój duchowy pacjentów możemy przyjrzeć się interesującemu badaniu, w którym badano pacjentów onkologicznych. Rozwój duchowy badanych pacjentów w następstwie choroby wyrażał się poprzez:
    <ul>
    <li>poczucie bliskości z innymi,</li>
    <li>bilansowanie własnego życia,</li>
    <li>poczucie polegania na sobie,</li>
    <li>afirmację życia,</li>
    <li>odwagę wobec śmierci (Quiles i in., 2002).</li>
</ul>

<hr>
<h6>Przypisy</h6>
<ol>
        <li>Galderisi, S., Heine, A., Kastrup, M., Beezhold, J., Sartorius, N. (2017). Propozycja nowej definicji zdrowia psychicznego. Psychiatria Polska, 5, 407-415.</li>
        <li>Keyes, C.L.M. (1998). Social well-being. Social Psychology Quarterly. 61, 121-140.
</li>
        <li>Metlak, A. (2002). Kwestionariusz do Samoopisu do Pomiaru Duchowości. Niepublikowana praca magisterska. Katowice: Wydział Pedagogiki i Psychologii UŚ.</li>
        <li>Quiles, M. Martin-Aragon, M., Pastor, M.A., Jarabo, M.C., Stiges, E. Rodriguez-Martin, J. (2002). Thriving in oncology patients: Preliminary results. The 16th Conference of the European Health Psychology Society, Lizbona.</li>
    <li>Sęk, H. (2017). Modele zdrowia w teorii i praktyce psychologicznej - problemy i dylematy wzajemnych relacji. W: S. Danielewicz, J. Rola (red.) Stare dylematy i nowe wyzwania w psychoterapii (s.53-68). Warszawa: Wydawnictwo APS.</li>
    <li>Słońska, Z., Misiuna, M. (1993). Promocja zdrowia. Słownik podejmowanych terminów. Warszawa: Agencja Promo-Lider.</li>
    <li>Tomaszewski, T. (1975) Człowiek w sytuacji. W: T. Tomaszewski (red.) Psychologia (s. 17-36). Warszawa: PWN.</li>




</ol>




</p>
{% endblock %}
