{% extends 'zdrowie/base.html' %}
{% block content %}

<h1>Zmiana zachowań związanych ze zdrowiem</h1>
<p><b>Zachowania zdrowotne</b> to działania jednostki podejmowane ze względów zdrowotnych lub takie, które mają udokumentowany wpływ na zdrowie. Według jednej z klasyfikacji działania te dzieli się na: <b>sprzyjające zdrowiu</b>, takie jak aktywność fizyczna, stosowanie niskotłuszczowej i bogatoresztkowej diety (to jest zawierającej dużo błonnika), ochrona przed promieniowaniem ultrafioletowym, oraz <b>działania szkodliwe dla zdrowia</b>, na przykład palenie tytoniu czy nadużywanie substancji psychoaktywnych (morfiny, alkoholu i tym podobnych) (Łuszczyńska, 2004).</p>

<h6>Nawyk czy czynność zdrowotna?</h6>
<ul>
    <li><b>Nawyki zdrowotne</b> - wynik procesów socjalizacyjnych i wpływów kulturowych, np. nawyki higieniczne, żywieniowe, rekreacyjne czy sportowe.</li>
    <li><b>Intencjonalne czynności zdrowotne</b> - pojawiają się w toku rozwoju, zmiana zachowania wiąże się ze zmianą rozwojową.</li>
</ul>

<h3>Zachowania zdrowotne</h3>
<p>W jednym z narzędzi badawczych, które służy do pomiaru zachowań zdrowotnych wyróżniamy kilka kategorii takich zachowań. Warto się zastanowić jak my sami dbamy o poszczególne kategorie i czy nasze zachowanie nie wymaga jakichś zmian.</p>
<ul>
    <li><b>Pozytywne nastawienie do życia</b> - zachowania w sferze zdrowia psychicznego, np.:</li>
    <ul>
        <li>dbałość o codzienny nastrój,</li>
        <li>spokojne wyrażanie przeżywanych emocji,</li>
        <li>unikanie przygnębiających sytuacji.</li>
    </ul>
    <li><b>Zachowania związane ze zdrowiem fizycznym</b> - zachowania związane ze sferą somatyczną zdrowia, np.:</li>
    <ul>
        <li>utrzymywanie prawidłowej diety,</li>
        <li>unikanie spędzania nadmiernej ilości czasu przed telewizorem i komputerem,</li>
        <li>unikanie przebywania w otoczeniu palących.</li>
    </ul>
    <li><b>Dbałość o kondycję umysłową</b> - zachowania mające na celu poprawę sprawności intelektualnej, np.:</li>
    <ul>
        <li>czytanie książek,</li>
        <li>poszerzanie wiedzy,</li>
        <li>nabywanie nowych umiejętności.</li>
    </ul>
    <li><b>Zachowania związane z profilaktyką i leczeniem</b> - związane z leczeniem i unikaniem chorób, np.:</li>
    <ul>
        <li>zgłaszania się do lekarza od razu po zauważeniu objawów choroby,</li>
        <li>przestrzeganie zaleceń lekarskich,</li>
        <li>dbałość o zdrowie w okresie zwiększonych zachorowań.</li>
    </ul>
    <li><b>Zachowania ekologiczne</b> - odnoszą się do publicznej sfery zdrowia w wymiarze ochrony środowiska, np.:</li>
    <ul>
        <li>aktywne reagowanie na zaśmiecanie otoczenia,</li>
        <li>oszczędzanie zużycia wody i prądu ze względu na stan środowiska,</li>
        <li>uwzględnianie wpływu kupowanych produktów na środowisko.</li>
    </ul>
</ul>

<h3>Kilka ogólnych zasad zmiany zachowań związanych ze zdrowiem</h3>
<p>Aby zmiana naszego zachowania była jak najbardziej skuteczna możemy przestrzegać kilku zasad. Pomogą one nam wdrożyć zachowania na dłuższy okres czasu oraz efektywniej.</p>
<ul>
    <li>Kształtowanie i zmiana zachowań w odniesieniu do zdrowia powinny być rezultatem swobodnego wyboru.</li>
    <li>Zachowania zdrowotne powinny być powiązane z naszym własnym systemem wartości.</li>
    <li>W realizowaniu swobodnych decyzji zdrowotnych powinna obowiązywać zasada stawiania realistycznych celów, gwarantujących aktywizację poczucia własnej skuteczności.</li>
    <li>Propozycje prozdrowotne i popularyzacja wiedzy o zdrowiu powinny być dostosowane do odbiorców (osób, grup) i do kontekstu naturalnego, materialnego oraz społeczno-kulturowego.</li>
    <li>Treść zachowań zdrowotnych, w tym także sposoby zmiany zachowań, powinny być wynikiem wyboru lub zostać elastycznie dostosowane do odbiorców.</li>
    <li>W kształtowaniu zachowań zdrowotnych istotną rolę odgrywa wspomagające działanie grup odniesienia, społeczności lokalnej i wsparcie ze strony profesjonalistów oraz instytucji.</li>
    <li>Warto wiedzieć i umieć ocenić w praktyce, jak działają predyktory zmiany zachowań, w jakiej fazie znajduje się osoba, której zachowania zdrowotne planuje się kształtować i zmieniać, oraz jakie są jej cele zdrowotne i motywacja.</li>
</ul>

<h3>Rodzaje modeli wyjaśniających zmianę zachowania</h3>
<p>Modele, które przybliżają nam mechanizm zmiany zachowań ludzi na zdrowotne możemy podzielić na 3 grupy. Są one wyróżnione ze względu na wyjaśniany zakres zachowania.</p>
<ul>
    <li><b>Modele motywacyjne</b> dotyczą kształtowania motywacji czy intencji podjęcia zachowania; ujmują czynniki decydujące o powstaniu zamiaru jego inicjacji.</li>
    <li><b>Modele postintencjonalne</b> zajmują się czynnikami wpływającymi na zrealizowanie już istniejącego zamiaru.</li>
    <li><b>Modele procesualne i fazowe</b> uwzględniają to, że zmiana zachowania jest procesem przebiegającym w czasie.</li>
</ul>

<h3>Model stadialny</h3>
<p>Interesującym modelem fazowym jest <b>Transteoretyczny model zachowań zdrowotnych</b> bardziej znany jako model stadialny. Zmiana zachowania zdrowotnego jest w nim podzielona na kolejne stadia wdrażania nowego nawyku.</p>
<ul>
    <li><b>Stadium prekontemplacji</b> - ludzie nie są świadomi istnienia w ich życiu problem w zdrowotnych ani z wiedzy o możliwości poprawy stanu zdrowia i rozwoju zasob w; zazwyczaj odrzucają pomysły zmiany zachowań ryzykownych.</li>
    <li><b>Stadium kontemplacji</b> - ludzie zaczynają się zastanawiać nad zdrowiem i rozważają zmianę zachowań w najbliższych 6 miesiącach.</li>
    <li><b>Stadium przygotowania</b> - pojawia się intencja zmiany, człowiek planuje w ciągu najbliższego miesiąca podjąć nowe działanie lub pozbyć się starego.</li>
    <li><b>Stadium działania</b> - zmiana zachowania.</li>
    <li><b>Stadium utrzymywania</b> - po 6 miesiącach od rozpoczęcia zmiany, możemy wówczas mówić, że zmiana została utrwalona.</li>
    <li><b>Stadium zakończenia procesu zmiany</b></li>
</ul>

<hr>
<h6>Przypisy</h6>
<ol>
    <li>Łuszczyńska, A. (2004). Zmiana zachowań zdrowotnych: dlaczego dobre chęci nie wystarczają?. Gdańskie Wydaw. Psychologiczne.</li>
</ol>










{% endblock %}